 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background: linear-gradient(to right, #efc9ef, #f0e6f6, #e6c0e6);
 }

 .slider {
     width: 900px;
     height: 450px;
     position: relative;
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
 }

 .slider img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 button {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background: rgba(0, 0, 0, 0.5);
     border: none;
     font-size: 30px;
     color: white;
     cursor: pointer;
     padding: 5px 10px;
     border-radius: 5px;
 }

 #prev {
     left: 15px;
 }

 #next {
     right: 15px;
 }